{{ header }}
<div id="seller" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a type="button" class="btn btn-primary pull-right" href="{{ form_href }}" >{{ text_registration }}</a>
        <h3 class="panel-title" style="height: 30px;"><i class="fa fa-list"></i> {{ text_seller_list }}</h3>
      </div>
      <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr style="color: #3366ff; font-weight: bold;">
                  <td class="text-center" style="width: 80px;">Image</td>
                  <td class="text-left">Seller Name</td>
                  <td class="text-center" style="width: 120px;">View Seller Detail</td>
                </tr>
              </thead>
              <tbody>
                {% if sellers %}
                {% for seller in sellers %}
                <tr>
                  <td class="text-center">{% if seller.image %} <img src="{{ seller.image }}" alt="{{ seller.name }}" class="img-thumbnail" /> {% else %} <span class="img-thumbnail list"><i class="fa fa-camera fa-2x"></i></span> {% endif %}</td>
                  <td class="text-left">{{ seller.name }}</td>
                  <td class="text-center"><a href="{{ seller.href }}" data-toggle="tooltip" title="{{ button_view }}" class="btn btn-primary"><i class="fa fa-eye"></i></a></td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                  <td class="text-center" colspan="4">{{ text_no_results }}</td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        <div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ footer }}