{{ header }}
<div id="news-news" class="container">
  
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <u><h1> {{ heading_title }} </h1></u>
         <ul>
          <li> <h3>{{ text_title }} </h3>
          <p> {{ title }} </p> </li>
          <li><h3>{{ text_description }} </h3>
          <p> {{ description }} </p></li>
          </ul>
          <div class="pull-right"><a href="{{ allnews }}" class="btn btn-primary">{{ button_all_news }}</a></div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}