{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">{% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
            {% if function %}
            <div class="col-sm-3 col-xs-3 pull-right">
              <div class=" input-group input-group-sm">
                <label class="input-group-addon" for="input-limit"> Show: </label>
                <input type="text" name="limit" value="{{ limit }}" class="form-control" id="input-limit">
              </div>
            </div>
            {% endif %}
          </div>
          <div class="panel-body">
            <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-product">
              <div class="table-responsive">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <td class="text-center">{{ column_image }}</td>
                      <td class="text-left">{% if sort %}{% if sort == 'pd.name' %} <a href="{{ sort_name }}" class="{{ order|lower }}">{{ column_name }}</a> {% else %} <a href="{{ sort_name }}">{{ column_name }}</a> {% endif %} {% else %} {{ column_name }}{% endif %}</td>
                      <td class="text-left">{% if sort %}{% if sort == 'p.model' %} <a href="{{ sort_model }}" class="{{ order|lower }}">{{ column_model }}</a> {% else %} <a href="{{ sort_model }}">{{ column_model }}</a> {% endif %}{% else %} {{ column_model }}{% endif %}</td>
                      <td class="text-right">{% if sort %}{% if sort == 'p.price' %} <a href="{{ sort_price }}" class="{{ order|lower }}">{{ column_price }}</a> {% else %} <a href="{{ sort_price }}">{{ column_price }}</a> {% endif %}{% else %} {{ column_price }}{% endif %}</td>
                      <td class="text-right">{% if sort %}{% if sort == 'p.quantity' %} <a href="{{ sort_quantity }}" class="{{ order|lower }}">{{ column_quantities }}</a> {% else %} <a href="{{ sort_quantity }}">{{ column_quantities }}</a> {% endif %}{% else %} {{ column_quantities }}{% endif %}</td>
                      <td class="text-left">{% if sort %}{% if sort == 'p.status' %} <a href="{{ sort_status }}" class="{{ order|lower }}">{{ column_status }}</a> {% else %} <a href="{{ sort_status }}">{{ column_status }}</a> {% endif %}{% else %} {{ column_status }}{% endif %}</td>
                    </tr>
                  </thead>
                  <tbody>
                  
                  {% if products %}
                  {% for product in products %}
                  <tr>
                    <td class="text-center">{% if product.image %} <img src="{{ product.image }}" alt="{{ product.name }}" class="img-thumbnail" /> {% else %} <span class="img-thumbnail list"><i class="fa fa-camera fa-2x"></i></span> {% endif %}</td>
                    <td class="text-left">{{ product.name }}</td>
                    <td class="text-left">{{ product.model }}</td>
                    <td class="text-right">{% if product.special %} <span style="text-decoration: line-through;">{{ product.price }}</span><br/>
                      <div class="text-danger">{{ product.special }}</div>
                      {% else %}
                      {{ product.price }}
                      {% endif %}</td>
                    <td class="text-right">{% if product.quantity <= 0 %} <span class="label label-warning">{{ product.quantity }}</span> {% elseif product.quantity <= 5 %} <span class="label label-danger">{{ product.quantity }}</span> {% else %} <span class="label label-success">{{ product.quantity }}</span> {% endif %}</td>
                    <td class="text-left">{{ product.status }}</td>
                  </tr>
                  {% endfor %}
                  {% else %}
                  <tr>
                    <td class="text-center" colspan="8">{{ text_no_results }}</td>
                  </tr>
                  {% endif %}
                    </tbody>
                  
                </table>
              </div>
            </form>
            <div class="row">
              <div class="col-sm-6 text-left">{{ pagination }}</div>
              <div class="col-sm-6 text-right">{{ results }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% if function == 'topViewProduct' %}
<script type="text/javascript"><!--
  $('#input-limit').on('change', function() {
    var url = '';
  
    var limit = $('input[name=\'limit\']').val();
  
    if (limit) {
      url += '&limit=' + encodeURIComponent(limit);
    }

    location = 'index.php?route=extension/module/reports/topViewProduct&user_token={{ user_token }}' + url;
  });
  //--></script>
  {% endif %}

  {% if function == 'lowestViewProduct' %}
<script type="text/javascript"><!--
  $('#input-limit').on('change', function() {
    var url = '';
  
    var limit = $('input[name=\'limit\']').val();
  
    if (limit) {
      url += '&limit=' + encodeURIComponent(limit);
    }

    location = 'index.php?route=extension/module/reports/lowestViewProduct&user_token={{ user_token }}' + url;
  });
  //--></script>
  {% endif %}

  {% if function == 'highestSellingProduct' %}
<script type="text/javascript"><!--
  $('#input-limit').on('change', function() {
    var url = '';
  
    var limit = $('input[name=\'limit\']').val();
  
    if (limit) {
      url += '&limit=' + encodeURIComponent(limit);
    }

    location = 'index.php?route=extension/module/reports/highestSellingProduct&user_token={{ user_token }}' + url;
  });
  //--></script>
  {% endif %}

  {% if function == 'lowestSellingProduct' %}
<script type="text/javascript"><!--
  $('#input-limit').on('change', function() {
    var url = '';
  
    var limit = $('input[name=\'limit\']').val();
  
    if (limit) {
      url += '&limit=' + encodeURIComponent(limit);
    }

    location = 'index.php?route=extension/module/reports/lowestSellingProduct&user_token={{ user_token }}' + url;
  });
  //--></script>
  {% endif %}
{{ footer }} 